@model IEnumerable<Models.ViewModels.ProductBriefViewModel>
<div class="col-md-12 item" id="product-content">
    @foreach (var product in Model)
            {
                string delPrice = string.Empty;
                if (product.PromotionPrice > 0)
                {
                    delPrice = "line-through";
                }
                <!-- item -->
                <div class="product-box">
                    <a href="/dien-thoai-@product.MetaTitle-@product.Id" title="@product.Name">
                        <img class="img-responsive" src="@product.Image" alt="@product.Name">
                    </a>
                    <h3 class="name">@product.Name</h3>
                    <div class="text-left" style="height:20px;">
                        @if (product.PromotionPrice > 0)
                        {
                            <strong class="price">
                                @Html.DisplayFor(model => product.PromotionPrice)
                            </strong>
                        }
                    </div>
                    <div class="price-buy">
                        <strong class="price @delPrice">@Html.DisplayFor(model => product.Price)</strong>
                        <a href="@Url.Action("AddToCart", "Cart", new { productId = product.Id })">Mua ngay</a>
                    </div>

                </div>
                <!-- ./ -->
    }
</div>

