<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | AnhDo Mobile</title>
    <meta name="keywords" content="anhdo, anh do, anhdomobile, anhdo mobile, dien thoai di dong, smartphone tai ha noi, apple, samsung, sony, oppo" />
    <meta name='description' content='Cửa hàng điện thoại di động, smartphone, apple, samsung chính hãng tại hà nội, giá tốt, dịch vụ khách hàng được yêu thích nhất.' />
    <meta name='copyright' content='Công ty Cổ phần Bán lẻ Kỹ thuật số AnhDo' />
    <meta name='author' content='Công ty Cổ phần Bán lẻ Kỹ thuật số AnhDo' />
    <meta name="GENERATOR" content="Công ty Cổ phần AnhDo Mobile" />
    <link rel="icon" href="~/Assets/Common/images/icon/favicon.png" type="image/x-icon" />
    <link rel="shortcut icon" href="~/Assets/Common/images/icon/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    @Styles.Render("~/bundles/st-site-core")
    @Styles.Render("~/bundles/st-site-account-core")


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-103634770-1"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', 'UA-103634770-1');
    </script>

</head>
<body>
    <header id="header" class="container">
        @{Html.RenderAction("_Header", "Home");}
    </header>

    <nav id="main-nav" class="navbar navbar-inverse navbar-static-top">
        @{Html.RenderAction("_Navigation", "Home");}
    </nav>
    <div class="container">
        <div class="row" style="margin: 10px auto;">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/sc-site-core")
    @Scripts.Render("~/bundles/sc-site-account-core")
    @RenderSection("scripts", false)

    <script src="~/Scripts/removeSomee.js"></script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/59d8a0fec28eca75e46249ca/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
</body>
</html>
