@model IEnumerable<Models.EF.ProductCategory>
<table class="table table-striped table-bordered table-hover" style="margin-top:15px;">
    <thead>
        <tr>
            <th>@Html.CheckBox("chkDeleteAll", new { id = "chkDeleteAll" })</th>
            <th class="pointer" onclick="sortMenu(1)">@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.ParentID)</th>
            <th class="pointer" onclick="sortMenu(3)">@Html.DisplayNameFor(model => model.DisplayOrder)</th>
            <th class="pointer" onclick="sortMenu(4)">@Html.DisplayNameFor(model => model.Status)</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="list-data">
        @foreach (var category in Model)
        {

            <tr>
                <td>@Html.CheckBox("categoryId", htmlAttributes: new { @class = "chkFieldId", value = category.Id })</td>
                <td class="name">@category.Name</td>

                <td>
                    @if (category.ParentID.HasValue)
                {
                    @Model.Where(x => x.Id == category.ParentID).SingleOrDefault().Name;
                }
            </td>
            <td>@category.DisplayOrder</td>
            <td>@(category.Status ? "Hiển thị" : "Ẩn" )</td>
            <td><a class="" href="@Url.Action("Edit", new { id = category.Id })"><i class="fa fa-edit"></i> Edit</a></td>
        </tr>
        }
    </tbody>
</table>

